
{% extends 'mentor-base.html' %}
{% block title %}Mentor Dashboard - Hustle Platform{% endblock %}
{% block mentor_content %}
<h1>Welcome, {{ user.username }}!</h1>
<p>You are logged in as a <strong>Mentor</strong>.</p>

<!-- Overview Section -->
<section>
    <h2>Overview</h2>
    
</section>

<!-- Notifications Section -->
<section>
    <h2>Messages</h2>
    <ul class="list-group">
        {% for request in mentorship_requests %}
            <li class="list-group-item">
                <p><strong>New Mentorship Request:</strong> {{ request.mentee.full_name }}</p>
                <p><strong>Message:</strong> {{ request.message }}</p>
                    <a href="{% url 'manage_mentorship_requests' %}">Respond</a> <!-- Pass request.id -->
                
            </li>
        {% empty %}
        <li>No new mentorship requests.</li>
        
        {% endfor %}
    </ul>
</section>
{% endblock %}