{% extends 'mentor-base.html' %}

{% block mentor_content %}
<div class="container mt-4">
    <h1>Account Settings</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'mchange_email' %}" class="btn btn-outline-primary">Change Email</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'mchange_password' %}" class="btn btn-outline-warning">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'mdelete_account' %}" class="btn btn-outline-danger">Delete Account</a>
        </li>
    </ul>
</div>
{% endblock %}
