<!DOCTYPE html>
<html lang="{{ user.language_preference|default:'en' }}">
<head>
    <title>{{ "Submit Feedback"|translate:user.language_preference }}</title>
</head>
<body>
    <h1>{{ "Submit Feedback for Mentor: "|translate:user.language_preference }} {{ mentor.full_name }}</h1>

    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label"><strong>{{ "Feedback"|translate:user.language_preference }}</strong></label>
            {{ form.feedback }}
        </div>

        <button type="submit">{{ "Submit"|translate:user.language_preference }}</button>
    </form>
</body>
</html>
