{% extends 'participant-base.html' %}
{% load custom_filters %}

{% block title %}{{ "Mentor Availability - Hustle Platform"|translate:user.language_preference }}{% endblock %}

{% block participant_content %}
<h2>{{ "Mentor Availability"|translate:user.language_preference }}</h2>
<h3>{{ "Available Time Slots for"|translate:user.language_preference }} {{ mentor.full_name }}</h3>

<ul class="list-group">
    {% for slot in available_slots %}
        <li class="list-group-item">
            {{ "Date"|translate:user.language_preference }}: {{ slot.date }} | 
            {{ "Time"|translate:user.language_preference }}: {{ slot.start_time }} - {{ slot.end_time }}
        </li>
    {% empty %}
        <li class="list-group-item text-center">{{ "No available slots."|translate:user.language_preference }}</li>
    {% endfor %}
</ul>
{% endblock %}
