{% extends 'mentor-base.html' %}
{% load custom_filters %}

{% block title %}{{ "Respond to Mentorship Request - Hustle Platform"|translate:user.language_preference }}{% endblock %}

{% block mentor_content %}
    <h1>{{ "Respond to Mentorship Request"|translate:user.language_preference }}</h1>
    
    <p><strong>{{ "From:"|translate:user.language_preference }}</strong> {{ mentorship_request.mentee.full_name }}</p>
    <p><strong>{{ "Message:"|translate:user.language_preference }}</strong> {{ mentorship_request.message }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {{ "Submit"|translate:user.language_preference }}
        </button>
    </form>
{% endblock %}
